.Autocomplete {
  display: block;

  position: relative;
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;

  padding: 6px 4px;
}

.list {
  position: absolute;

  left: 0;
  top: 100%;

  margin-top: 4px;
  padding-left: 0;

  max-height: 240px;

  color: #000000;
  background-color: #ffffff;

  z-index: 1000;

  list-style: none;
  overflow-y: scroll;
}

.option {
  padding: 6px 4px;
  cursor: pointer;
}

.option.isHighlighted {
  color: red;
}
