.LineField {
  display: block;

  margin: 1rem 0;
}

.LineFieldLabel {
  display: block;

  margin: 0 0 0.25rem;
  font-size: var(--font-size-s);
}

.LineFieldInput {
  display: block;

  margin: 0.25rem 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  border: solid 1px var(--color-line);
  border-radius: 8px;

  font-size: var(--font-size-m);

  color: var(--color-text);
  background-color: var(--color-field);
}
