.LayoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  background-color: var(--color-head);
}

.LayoutContent {
  padding: 0 0 0 1rem;
  overflow-y: auto;
}

.HeaderGroup {
  display: flex;
  gap: 1rem;
}

.HeaderLink {
  --height: calc(var(--header-height) - (var(--border-width) * 2));

  height: var(--height);
  line-height: var(--height);

  display: inline-block;

  text-decoration: none;

  border-top: solid var(--border-width) transparent;
  border-bottom: solid var(--border-width) transparent;
}

.HeaderLink:hover {
  color: var(--color-main);
}

.HeaderLink.isActive {
  border-bottom-color: var(--color-main);
}
