.LayoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LayoutFooter {
  margin: 1rem 0 0;

  font-size: var(--font-size-s);

  border-top: solid 1px var(--color-line);
}

.HeaderGroup {
  display: flex;
  gap: 1rem;
}

.HeaderLink {
  padding: 0.5rem 0;

  display: inline-block;

  text-decoration: none;

  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
}

.HeaderLink:hover {
  color: var(--color-main);
}

.HeaderLink.isActive {
  border-bottom: solid var(--color-main) 3px;
}
