.Breadcrumbs {
  display: flex;
  align-items: center;
}

.FirstBreadcrumb {
  margin: 0;
}

.RestBreadcrumbs {
  display: flex;
  gap: 0.5rem;

  margin: 0;
  margin-left: 0.5rem;
  padding-left: 0;
}

.RestBreadcrumb {
  margin-left: 0.5rem;
  padding-left: 0.5rem;

  list-style: '/';
}
