.Autocomplete {
  display: block;

  position: relative;
  width: 100%;
}

.AutocompleteInput {
  display: block;

  padding: 4px;
  width: 100%;
  box-sizing: border-box;

  font-size: var(--font-size-m);
}

.AutocompleteList {
  position: absolute;

  left: 0;
  top: 100%;

  margin-top: 4px;
  padding-left: 0;

  max-height: 240px;

  color: #000000;
  background-color: #ffffff;

  z-index: 1000;

  list-style: none;
  overflow-y: scroll;
}

.AutocompleteOption {
  padding: 6px 4px;
  cursor: pointer;
}

.AutocompleteOption.isHighlighted {
  color: red;
}
