.DataTableContainer {
  overflow-y: scroll;
}

@media (width > 720px) {
  .DataTableContainer {
    height: calc(100vh - var(--header-height));

    padding-right: 0.5rem;
  }
}

.DataTableContainer {
  table {
    margin: 1rem 0;
    border-collapse: separate;
    border-spacing: 0;

    width: 100%;
    table-layout: fixed;
  }

  thead {
    position: sticky;
    left: 0;
    top: -1px;
    background-color: var(--color-page);
  }

  th {
    padding: 6px 12px 6px;

    border-top: solid 1px var(--color-line);
    border-bottom: solid 1px var(--color-line);

    text-wrap: nowrap;
  }

  td {
    padding: 6px 12px;

    border-top: solid 1px transparent;
    border-bottom: solid 1px var(--color-line);

    text-wrap: nowrap;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  th.is-date {
    text-align: left;
  }

  th.is-rate {
    /**
     * @todo: Temporary solution to prevent column layout shifts (due
     * to virtual scrolling). When VS will be stable, it should measure
     * all the columns widths and apply the most wide one, an then
     * virtualize. This is similar to Virtuoso approach. */
    padding-left: 2rem;

    text-align: right;
  }

  td.is-date {
    text-align: left;
  }

  td.is-rate {
    text-align: right;
    font-variant-numeric: tabular-nums;
  }
}

@media (width > 720px) {
  .DataTableContainer {
    table {
      width: unset;
      table-layout: auto;
    }
  }
}
