.ChipSelect {
  position: relative;

  display: block;

  margin: 1rem 0;
  padding: 4px;

  border: solid 1px var(--color-line);
  border-radius: var(--border-radius);

  background-color: var(--color-field);
}

.SelectedValues {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.Input {
  background: none;
  border: none;

  display: block;

  margin: 0;
  padding: 6px 4px;

  flex: 1;
  min-width: 4rem;

  font-size: var(--font-size-m);

  color: var(--color-text);
  background-color: transparent;
}

.Input:focus {
  outline: none;
}

.Input::placeholder {
  font-size: var(--font-size-s);
}

.AvailableValues {
  position: absolute;

  left: 0;
  right: 0;
  top: 100%;

  margin-top: 2px;

  border: solid 1px var(--color-line);
  border-radius: var(--border-radius);

  color: var(--color-text);
  background-color: var(--color-body);

  overflow: hidden;

  z-index: 1000;
}

.List {
  max-height: 240px;

  list-style: none;
  overflow-y: scroll;

  padding-left: 0;

  margin: 0;
}

.Item {
  padding: 12px 1rem;
  cursor: pointer;

  &.is-focused {
    color: var(--color-main);
    background-color: var(--color-selection);
  }
}

.Stub {
  padding: 0.5rem 1rem;

  font-size: var(--font-size-s);
  font-style: italic;

  color: var(--color-mute);
}
