:root {
  --color-text: oklch(93% 0.011 275);
  --color-link: oklch(96% 0.02 280);
  --color-line: oklch(32% 0.005 250);
  --color-page: oklch(24% 0.012 272);
  --color-card: oklch(28% 0.02 272);
  --color-chip: oklch(28% 0.02 272);
}

body {
  margin: 0 auto;
  max-width: 1024px;

  color: var(--color-text);
  background-color: var(--color-page);

  font-family: sans-serif;
}

a {
  color: var(--color-link);
}

h1 {
  margin: 0;
  font-size: 1.2rem;
}

table {
  border: double 3px;
  border-collapse: collapse;
}

thead {
  position: sticky;
  left: 0;
  top: -2px;
  background-color: var(--color-page);
}

th {
  padding: 6px 4px 4px;
  text-align: left;
  border: solid 1px;
}

td {
  padding: 4px;
  text-align: left;
  border: solid 1px;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 4rem);

  margin: 1rem 0;
  padding: 1rem;

  outline: solid 1px var(--color-line);
  border-radius: 1rem;
}
